services:
  dal-mock:
    build:
      context: .
    ports:
      - '3100:3100'
    environment:
      MOCK_LOG_LEVEL: info
      NODE_ENV: production
      PORT: 3100
    healthcheck:
      test: curl -s http://localhost:3100/health
      interval: 3s
      timeout: 10s
      retries: 3
      start_period: 3s
    networks:
      - default

networks:
  default:
    driver: bridge
