openapi: 3.1.0
info:
  title: SitiAgri API
  description: API for siti-agri data and related operations
  version: '1.0.0'
  license:
    name: 'Open Government Licence v3.0'
    url: 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3'
security:
  - mTLS: []
servers:
  - url: 'https://chs-upgrade-api.ruraldev.org.uk:8446/extapi'
    description: 'The test server for KITS/V1 APIs'
tags:
  - name: 'siti-agri'
    description: 'Operations related to siti-agri management'
paths:
  /SitiAgriApi/cv/appByBusiness/sbi/{sbi}/list:
    get:
      tags:
        - 'siti-agri'
        - 'applications'
      summary: 'List Applications for a business.'
      description: 'Gets details for Applications for a business specified by SBI.'
      operationId: 'getApplicationsBySBI'
      parameters:
        - name: 'sbi'
          in: path
          description: 'SBI of the business to retrieve applications for.'
          required: true
          schema:
            type: integer
            maximum: 99999999999999999999
            minimum: 1
            examples:
              - 1000000000
              - 1111111111
              - 2222222222
              - 107167406
              - 107097991
              - 106354662
              - 106221605
              - 106440483
      responses:
        '200':
          description: 'Returns full organisation details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsResponse'
        '403':
          description: >
            Getting Application details is forbidden, or a WAF rule has been triggered, or the SBI
             was not found (i.e. 404!).
          content:
            text/html:
              schema:
                type: string
              examples:
                forbidden:
                  summary: Forbidden HTML response
                  value: |
                    <html><body><h1>403 Forbidden</h1>
                    Request forbidden by administrative rules.
                    </body></html>
  /SitiAgriApi/cv/agreementsByBusiness/sbi/{sbi}/list:
    get:
      tags:
        - 'siti-agri'
        - 'agreements'
      summary: 'Find Agreements by SBI.'
      description: 'Find Agreements by SBI'
      operationId: 'findAgreementsBySBI'
      parameters:
        - name: 'sbi'
          in: 'path'
          description: 'sbi'
          required: true
          schema:
            type: 'integer'
            maximum: 99999999999999999999
            minimum: 1
            examples:
              - '1000000000'
              - '1111111111'
              - '2222222222'
      responses:
        '200':
          description: 'Returns full organisation details.'
          content:
            application/json:
              schema:
                type: 'object'
                additionalProperties: false
                properties:
                  data:
                    type: 'array'
                    items:
                      $ref: '#/components/schemas/AgreementsResponse'
                  success:
                    type: 'boolean'
                  errorString:
                    type: [string, 'null']
                    description: 'Error string if present, otherwise can be null'
                required:
                  - 'data'
                  - 'success'
                  - 'errorString'
        '403':
          description: "Getting an internal user's details is forbidden, or a WAF\
            \ rule has been triggered"
          content:
            text/html:
              schema:
                type: string
              examples:
                forbidden:
                  summary: Forbidden HTML response
                  value: |
                    <html><body><h1>403 Forbidden</h1>
                    Request forbidden by administrative rules.
                    </body></html>
components:
  schemas:
    ApplicationsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Application'
        errorString:
          type: [string, 'null']
        success:
          type: boolean
      required:
        - data
        - errorString
        - success
      additionalProperties: false
    Application:
      type: object
      properties:
        sbi:
          type: string
        subject_id:
          type: integer
        year:
          type: integer
        application_name:
          type: [string, 'null']
        module_code:
          type: [string, 'null']
        scheme:
          type: [string, 'null']
        application_id:
          type: integer
        status_code_p:
          type: [string, 'null']
        status_code_s:
          type: [string, 'null']
        status:
          type: [string, 'null']
        submission_date:
          oneOf:
            - type: string
              pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}:\d{3}(?:Z|\+\d{2}:?\d{2})$'
              example: '2019-01-30T12:25:23:023+0000'
            - type: 'null'
          type: [string, 'null']
        portal_status_p:
          type: [string, 'null']
        portal_status_s:
          type: [string, 'null']
        portal_status:
          type: [string, 'null']
        fg_active:
          type: [string, 'null']
        transition_id:
          type: integer
        transition_name:
          type: string
        agreement_ref:
          type: [string, 'null']
        application_history:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationHistory'
      required:
        - sbi
        - subject_id
        - year
        - application_name
        - module_code
        - scheme
        - application_id
        - status_code_p
        - status_code_s
        - status
        - submission_date
        - portal_status_p
        - portal_status_s
        - portal_status
        - fg_active
        - transition_id
        - transition_name
        - agreement_ref
        - application_history
      additionalProperties: false
    ApplicationHistory:
      type: object
      properties:
        dt_transition:
          type: string
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}:\d{3}(?:Z|\+\d{2}:?\d{2})$'
          example: '2019-01-30T12:25:23:023+0000'
        check_status:
          type: string
        transition_id:
          type: integer
        transition_name:
          type: string
      required:
        - dt_transition
        - check_status
        - transition_id
        - transition_name
      additionalProperties: false
    AgreementsResponse:
      type: 'object'
      properties:
        sbi:
          type: 'string'
          description: 'SBI of the business'
        contract_id:
          type: 'string'
          description: 'Contract ID'
        agreement_name:
          type: 'string'
          description: 'Name of the agreement'
        status:
          type: 'string'
          description: 'Status of the agreement'
        contract_type:
          type: 'string'
          description: 'Type of contract'
        scheme_year:
          type: 'integer'
          description: 'Scheme year'
        start_date:
          type: 'string'
          description: 'Start date of the agreement'
        end_date:
          type: 'string'
          description: 'End date of the agreement'
        payment_schedules:
          type: 'array'
          description: 'List of payment schedules'
          items:
            $ref: '#/components/schemas/AgreementsPaymentScheduleResponse'
      required:
        - sbi
        - contract_id
        - agreement_name
        - status
        - contract_type
        - scheme_year
        - start_date
        - end_date
        - payment_schedules
    AgreementsPaymentScheduleResponse:
      type: 'object'
      properties:
        option_code:
          type: 'string'
          description: 'Option code'
        option_description:
          type: 'string'
          description: 'Description of the option'
        commitment_group_start_date:
          type: 'string'
          description: 'Commitment group start date'
        commitment_group_end_date:
          type: 'string'
          description: 'Commitment group end date'
        year:
          type: 'integer'
          description: 'Year of the payment schedule'
        sheet_name:
          type: [string, 'null']
          description: 'Sheet name'
        parcel_name:
          type: [string, 'null']
          description: 'Parcel name'
        action_area:
          type: [integer, 'null']
          description: 'Action area'
        action_mtl:
          type: [integer, 'null']
          description: 'Action MTL'
        action_units:
          type: [number, 'null']
          description: 'Action units'
        parcel_total_area:
          type: [integer, 'null']
          description: 'Total area of the parcel'
        payment_schedule_start_date:
          type: 'string'
          description: 'Payment schedule start date'
        payment_schedule_end_date:
          type: 'string'
          description: 'Payment schedule end date'
      required:
        - option_code
        - option_description
        - commitment_group_start_date
        - commitment_group_end_date
        - year
        - sheet_name
        - parcel_name
        - action_area
        - action_mtl
        - action_units
        - parcel_total_area
        - payment_schedule_start_date
        - payment_schedule_end_date
  securitySchemes:
    mTLS:
      type: mutualTLS
      description: >
        Mutual TLS authentication. Client must present a certificate issued by the server.
