openapi: 3.1.0
info:
  title: SitiAgri API
  description: API for siti-agri data and related operations
  version: '1.0.0'
  license:
    name: 'Open Government Licence v3.0'
    url: 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3'
security:
  - mTLS: []
servers:
  - url: 'https://chs-upgrade-api.ruraldev.org.uk:8446/extapi'
    description: 'The test server for KITS/V1 APIs'
tags:
  - name: 'siti-agri'
    description: 'Operations related to siti-agri management'
paths:
  /SitiAgriApi/cv/appByBusiness/sbi/{sbi}/list:
    get:
      tags:
        - 'siti-agri'
        - 'applications'
      summary: 'List Applications for a business.'
      description: 'Gets details for Applications for a business specified by SBI.'
      operationId: 'getApplicationsBySBI'
      parameters:
        - name: 'sbi'
          in: path
          description: 'SBI of the business to retrieve applications for.'
          required: true
          schema:
            type: integer
            maximum: 99999999999999999999
            minimum: 1
            examples:
              - 1000000000
              - 1111111111
              - 2222222222
              - 107167406
              - 107097991
              - 106354662
              - 106221605
              - 106440483
      responses:
        '200':
          description: 'Returns full organisation details, with complete transition history.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '403':
          description: >
            Getting Application details is forbidden, or a WAF rule has been triggered, or the SBI
             was not found (i.e. 404!).
          $ref: '#/components/responses/Forbidden'
  /SitiAgriApi/cv/cphByBusiness/sbi/{sbi}/list:
    get:
      tags:
        - 'siti-agri'
        - 'cph'
      summary: 'List CPHs for a business.'
      description: 'Gets details for CPHs for a business specified by SBI.'
      operationId: 'getCPHsBySBI'
      parameters:
        - name: 'sbi'
          in: path
          description: 'SBI of the business to retrieve CPHs for.'
          required: true
          schema:
            type: integer
            maximum: 99999999999999999999
            minimum: 1
            examples:
              - 1000000000
              - 1111111111
              - 2222222222
              - 107167406
              - 107097991
              - 106354662
              - 106221605
              - 106440483
              - 200665008
        - name: pointInTime
          in: query
          description: >
            An optional date/date-time/timestamp to filter the CPHs by.
            If provided, only CPHs that were active at that point in time will be returned.
            Otherwise, all CPHs will be returned.
          required: false
          schema:
            type: string
            format: date-time
            pattern: '^(\d{4}-\d{2}-\d{2}[ +]\d{2}:\d{2}:\d{2}|)$'
            examples:
              - '2023-01-30+12:25:23'
              - ''
      responses:
        '200':
          description: Returns all CPH details, unless filtered by a specified `pointInTime`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPHResponse'
        '403':
          description: >
            Getting CPH details is forbidden, or a WAF rule has been triggered,
            or the SBI was not found (i.e. 404!).
          $ref: '#/components/responses/Forbidden'
        '404':
          description: The `pointInTime` parameter was not conform to the expected pattern.
          $ref: '#/components/responses/NotFound'

components:
  responses:
    Forbidden:
      description: 'Forbidden response'
      content:
        text/html:
          schema:
            type: string
          examples:
            forbidden:
              summary: Forbidden HTML response
              value: |
                <html><body><h1>403 Forbidden</h1>
                Request forbidden by administrative rules.
                </body></html>
    NotFound:
      description: 'Not Found response'
      content:
        text/html:
          schema:
            type: string
          examples:
            notFound:
              summary: Not Found HTML response
              value: >
                <!doctype html><html lang="en">
                <head>
                <title>HTTP Status 404 – Not Found</title>
                </head>
                <body>
                <h1>HTTP Status 404 – Not Found</h1>
                </body>
                </html>

  schemas:
    ResponseWrapper:
      type: object
      properties:
        data:
          type: array # items left abstract, to be overridden in specific responses
        errorString:
          type: [string, 'null']
        success:
          type: boolean
      required:
        - data
        - errorString
        - success
      additionalProperties: false
    ApplicationResponse:
      allOf:
        - $ref: '#/components/schemas/ResponseWrapper'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Application'
    CPHResponse:
      allOf:
        - $ref: '#/components/schemas/ResponseWrapper'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/CPH'
    Application:
      type: object
      properties:
        sbi:
          type: string
        subject_id:
          type: integer
        year:
          type: integer
        application_name:
          type: [string, 'null']
        module_code:
          type: [string, 'null']
        scheme:
          type: [string, 'null']
        application_id:
          type: integer
        status_code_p:
          type: [string, 'null']
        status_code_s:
          type: [string, 'null']
        status:
          type: [string, 'null']
        submission_date:
          oneOf:
            - type: string
              pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}:\d{3}(?:Z|\+\d{2}:?\d{2})$'
              example: '2019-01-30T12:25:23:023+0000'
            - type: 'null'
          type: [string, 'null']
        portal_status_p:
          type: [string, 'null']
        portal_status_s:
          type: [string, 'null']
        portal_status:
          type: [string, 'null']
        fg_active:
          type: [string, 'null']
        transition_id:
          type: integer
        transition_name:
          type: string
        agreement_ref:
          type: [string, 'null']
        application_history:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationHistory'
      required:
        - sbi
        - subject_id
        - year
        - application_name
        - module_code
        - scheme
        - application_id
        - status_code_p
        - status_code_s
        - status
        - submission_date
        - portal_status_p
        - portal_status_s
        - portal_status
        - fg_active
        - transition_id
        - transition_name
        - agreement_ref
        - application_history
      additionalProperties: false
    ApplicationHistory:
      type: object
      properties:
        dt_transition:
          type: string
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}:\d{3}(?:Z|\+\d{2}:?\d{2})$'
          example: '2019-01-30T12:25:23:023+0000'
        check_status:
          type: string
        transition_id:
          type: integer
        transition_name:
          type: string
      required:
        - dt_transition
        - check_status
        - transition_id
        - transition_name
      additionalProperties: false
    CPH:
      type: object
      properties:
        sbi:
          type: string
        dt_insert:
          type: string
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}:\d{3}\+\d{4}$'
          example: '2019-01-30T12:25:23:023+0000'
        dt_delete:
          type: string
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}:\d{3}\+\d{4}$'
          example: '2019-01-30T12:25:23:023+0000'
        cph_number:
          type: string
          pattern: '^\d{2}/\d{3}/\d{4}$'
          example: '12/345/6789'
        parish:
          type: [string, 'null']
        species:
          type: string
        start_date:
          type: string
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}:\d{3}\+\d{4}$'
          example: '2019-01-30T12:25:23:023+0000'
        end_date:
          type: string
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}:\d{3}\+\d{4}$'
          example: '2019-01-30T12:25:23:023+0000'
        address:
          type: [string, 'null']
          examples:
            - 'Farm, Village, Town, County, Postcode'
            - '350952, 515333 NADDLE FARM, CA10 2RP'
            # 'x-cord, y-cord Farm-name, Postcode' - not the same as x/y of the CPH below!
        x:
          oneOf:
            - type: integer
              minimum: 0
              maximum: 0
            - type: integer
              minimum: 5515
              maximum: 655654
        y:
          oneOf:
            - type: integer
              minimum: 0
              maximum: 0
            - type: integer
              minimum: 5335
              maximum: 1220301
      required:
        - sbi
        - dt_insert
        - dt_delete
        - cph_number
        - parish
        - start_date
        - end_date
        - species
        - x
        - y

  securitySchemes:
    mTLS:
      type: mutualTLS
      description: >
        Mutual TLS authentication. Client must present a certificate issued by the server.
